
<section class="superfoods">
    <div class="container">
        <div class="slick-wrapper">
            <div class="cantant">
                    <h2>{{ section.settings.section-heading }}</h2>
                     {{ section.settings.section-heading }}
                    <a href="{{ section.settings.button-link}}">{{ section.settings.button }}</a>
                </div>
            <div id="slick1">
            <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Camu_Camu_CreamBG_250x.avif"> 
                        <h2>Camu Camu</h2>
                    </div>
               </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/MaquiBerries_CreamBG_250x.avif"> 
                        <h2>MAQUI</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/ShiitakeCreamBG_250x.avif"> 
                        <h2>Shiitake</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Cordyceps_CreamBG_250x.avif"> 
                        <h2>Cordyceps</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Oat_CreamBG_26be4068-da0f-4017-a3f0-0a32c1897c5a_250x.avif"> 
                        <h2>Brown Rice</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/MaquiBerries_CreamBG_250x.avif"> 
                        <h2>Acai</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Maca_Root_creamBG_250x.avif"> 
                        <h2>Maca Root</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Kale_CreamBG_250x.avif"> 
                        <h2>Kale</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Cacao_CreamBG_250x.avif"> 
                        <h2>Cacao</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Kale_CreamBG_250x.avif"> 
                        <h2>Kale</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Cacao_CreamBG_250x.avif"> 
                        <h2>Cacao</h2>
                    </div>
                </div>




                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Maitake_CreamBG_250x.avif"> 
                        <h2>Maitake</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Quinoa_CreamBG_250x.avif"> 
                        <h2>Quinoa</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Amaranth_CreamBG_250x.avif"> 
                        <h2>Amaranth</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/FlaxSeeds_CreamBG_500x.webp">
                        <h2>Flax</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Ginger_CreamBG_250x.avif"> 
                        <h2>Ginger</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Coconut_CreamBG_250x.avif"> 
                        <h2>Coconut</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Chlorella_CreamBG_250x.avif"> 
                        <h2>Chlorella</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Oat_CreamBG_26be4068-da0f-4017-a3f0-0a32c1897c5a_250x.avif"> 
                        <h2>Oat</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Oat_CreamBG_26be4068-da0f-4017-a3f0-0a32c1897c5a_250x.avif"> 
                        <h2>Oat</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Spinach_CreamBG_250x.avif"> 
                        <h2>Spinach</h2>
                    </div>
                </div>
                <div class="slide-item">
                    <div class="img-box">
                        <img src="images/Chia_CreamBG_250x (1).avif"> 
                        <h2>Chia</h2>
                    </div>
                </div>
           </div>
       </div>
    </div>
</section>


<style>
  /* styles.scss or theme.scss or your custom stylesheet */

.custom-image-with-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  padding: 20px;
}

.text-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 16px;
  color: #666;
}

</style>


{% schema %}
{
  "name": "Custom slider Image text",
  "settings": [
    {
      "type": "text",
      "id": "section-heading",
      "label": "heading",
      "default": "Sourced From Earth’s <br> Most Powerful Superfoods"
    },
    {
      "type": "html",
      "id": "section-description",
      "label": "Description",
      "default":"<p><span class='text-span'>85</span>+ Superfoods, Nutrients & Plant-Based Ingredients.</p>"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button",
      "default": "See All"
    },
    {
      "type": "url",
      "id": "button-link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Custom slider Image text",
      "category": "Custom"
    }
  ]
} 


{% endschema %}
